# -----[ Application ]---------------------------------------------
node_modules
.cache
storybook-static

# -----[ Metadata ]------------------------------------------------
# macOS
.DS_Store
# JetBrains (IDE)
.idea
# VS Code (IDE)
.vscode
npm*log-*
*.log

# -----[ Distribution ] -------------------------------------------
# Remove any development source/config, keep only the built dist output
src
docs
test
unit-test
.storybook
tsconfig.json
bunfig.toml
.editorconfig
.nvmrc
package-lock.json
bun.lock
bun.lockb
